{extend name="base" /}

{block name="main"}
<div class="box_form">

    <div class="box_content">
        <form class="layui-form" id="admin">
            <input type="hidden" name="id" value="{$user_info.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input name="phone" lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input" type="text" {notempty name="$user_info.phone"}value="{$user_info.phone}"{/notempty}>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input name="user_name" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" type="text"  {notempty name="$user_info.user_name"}value="{$user_info.user_name}"{/notempty}>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上课老师</label>
                <div class="layui-input-inline">
                    <select  multiple name="course_id" lay-verify="required">     
                        {volist name="course_info" id="vo"}   
                        <option value="{$vo.id}">{$vo.course_name}</option>
                        {/volist}
                    </select>
                    <!-- <input name="teacher_id" lay-verify="required" placeholder="请输入支持的物品" autocomplete="off" class="layui-input" type="text"> -->
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">到期时间</label>
                <div class="layui-input-inline">
                    <input name="expire_time" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" type="text" id="expire_time">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">课堂数</label>
                <div class="layui-input-inline">
                    <input name="class_number" lay-verify="required" placeholder="请输入课堂数" autocomplete="off" class="layui-input" type="text" >
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn and-bg-{$skin_name|default='default'}" lay-submit lay-filter="admin">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>

<!-- 当前用户已有课程 -->

        <form class="layui-form" id="admin">
            <h2>当前用户已有课程</h2>
            <table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
              <colgroup>
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
            </colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>图片</th>
                <th>课程名</th>
                <th>课程描述</th>
                <th>课程所在日期</th>
                <th>开始时间</th>
                <th>结束时间</th>
            </tr>
        </thead>
        <tbody>

          {volist name="course_info" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            {if $vo['url']=='' }
            <td><a href="__ADMIN__/images/default_headimg.png" class="tooltip"><img src="__ADMIN__/images/default_headimg.png" width="20" height="20"></a></td>
            {else /}
            <td><a href="{$vo.url}" class="tooltip"><img src="{$vo.url}" width="20" height="20"></a></td>
            {/if}
            <td>{$vo.course_name}</td>
            <td>{$vo.course_describe}</td>
            <td>{$vo.on_date}  {$vo.on_week}</td>
            <td>{$vo.start_time}</td>
            <td>{$vo.over_time}</td> 
      </tr>
      {/volist}
  </tbody>
</table>
</form>

</div>
</div>
{/block}

{block name="script"}
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
  //执行一个laydate实例
  laydate.render({
        elem: '#expire_time', //指定元素
        type:'date'
    });
});

</script>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,
        $ = layui.jquery,
        form = layui.form;
        form.verify({
            pass: [
            /^[\S]{6,12}$/
            ,'密码必须6到12位，且不能出现空格'
            ]
        });
        $(window).on('load', function() {
            form.on('submit(admin)', function(data) {

                $.ajax({
                    url:"{:url('admin/user/setUserOrder')}",
                    data:$('#admin').serialize(),
                    type:'post',
                    async: false,
                    dataType: 'json',
                    success:function(res) {
                        if(res.code == 200) {
                            layer.alert(res.msg, function(index){
                                location.href = "{:url('admin/user/_list')}";
                            })
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });
                return false;
            });
        });
    });
</script>
{/block}